"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "markdown-preview"
      "linter-eslint"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      "node_modules"
      "*.map"
      "*.bundle.js"
    ]
    packagesWithKeymapsDisabled: [
      "open-terminal-here"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Liberation Mono"
    invisibles: {}
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "789aa4ab-f36b-1674-f1d3-2c35b6824195"
  "expand-region": {}
  "js-hyperclick": {}
  linter:
    displayLinterInfo: false
    lintOnFly: false
    showErrorInline: false
    showErrorTabProject: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "markdown-preview": {}
  "nuclide-click-to-symbol":
    useCmdKey: false
  "open-terminal-here": {}
  react: {}
  "symbols-tree-view": {}
  term2: {}
  tidal:
    ghciPath: "/usr/bin/ghci"
  "toggle-quotes":
    quoteCharacters: "\"'`"
  "tree-view":
    hideVcsIgnoredFiles: false
  "vim-mode": {}
  wakatime:
    apikey: "b39c3763-4a72-4f5c-ba14-d5e8723df1da"
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  welcome:
    showOnStartup: false
".js.source":
  "expand-region":
    commands: [
      {
        command: "editor:select-word"
        recursive: false
      }
      {
        command: "expand-region:select-word-include-dash"
        recursive: false
      }
      {
        command: "expand-region:select-word-include-dash-and-dot"
        recursive: false
      }
      {
        command: "expand-region:select-inside-paragraph"
        recursive: false
      }
      {
        command: "expand-region:select-inside-single-quotes"
        recursive: false
      }
      {
        command: "expand-region:select-inside-double-quotes"
        recursive: false
      }
      {
        command: "expand-region:select-inside-parentheses"
        recursive: true
      }
      {
        command: "expand-region:select-around-parentheses"
        recursive: true
      }
      {
        command: "editor:select-line"
        recursive: false
      }
    ]
  "tabs-to-spaces":
    onSave: "untabify"
