'atom-text-editor':
  'ctrl-w': 'expand-region:expand'
  'ctrl-A': 'editor:move-to-first-character-of-line'
  'ctrl-E': 'editor:move-to-end-of-screen-line'
  'ctrl-q': 'tabs:close-other-tabs'
  'ctrl-alt-l': 'editor:auto-indent'
  'ctrl-:': 'insert-previous-directory:toggle'
  'ctrl-alt-z': 'editor:checkout-head-revision'
  'ctrl-alt-left': 'window:focus-pane-on-left'
  'ctrl-alt-right': 'window:focus-pane-on-right'
