'.text.html':
  'Html':
    'prefix': 'html'
    'body': """
      <!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Some Title</title>
      </head>
      <body>
        $1
      </body>
      </html>
    """
  'Amp':
    'prefix': 'amp'
    'body': '&amp;$1'
'.source.js':
  'Log':
    'prefix': 'log'
    'body': 'console.log($1)'
  'Then':
    'prefix': 'then'
    'body': 'then(data => $1)'
  'Catch':
    'prefix': 'catch'
    'body': 'catch(err => console.log(err))'
  'Promise':
    'prefix': 'thencatch'
    'body': """
      then(data => console.log(data))
      .catch(err => console.log(err));$1
    """
  'Angular':
    'prefix': 'angular'
    'body': """
      export default {
        scope: {},
        controller: ($scope) => {
          $1
        }
      };
    """
  'React':
    'prefix': 'react'
    'body': """
      import React from 'react';

      export default React.createClass({
        render() {
          return (
            <div>
              $1
            </div>
          );
        }
      });
    """
  'Debugga':
    'prefix': 'debugga'
    'body': '(()=>{debugger})() || $1'
  'Use Strict':
    'prefix': 'us'
    'body': '\'use strict\';'
