[submodule "config/vim/bundle/nerdtree"]
  path = config/vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "config/vim/bundle/vim-colors-solarized"]
  path = config/vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "config/vim/bundle/vim-bundler"]
  path = config/vim/bundle/vim-bundler
  url = https://github.com/tpope/vim-bundler.git
  ignore = dirty
[submodule "config/vim/bundle/vim-gitgutter"]
	path = config/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "config/vim/bundle/vim-bracketed-paste"]
	path = config/vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
