"*":
  "exception-reporting":
    userId: "789aa4ab-f36b-1674-f1d3-2c35b6824195"
  welcome:
    showOnStartup: false
  core:
    excludeVcsIgnoredPaths: false
    disabledPackages: [
      "language-babel"
      "spell-check"
      "markdown-preview"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
      "*.map"
      "*.bundle.js"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    zoomFontWhenCtrlScrolling: false
    fontFamily: "Liberation Mono"
    fontSize: 15
    showInvisibles: true
    autoIndentOnPaste: false
  "tree-view":
    hideVcsIgnoredFiles: false
  react: {}
  "nuclide-click-to-symbol":
    useCmdKey: false
  wakatime:
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
    apikey: "b39c3763-4a72-4f5c-ba14-d5e8723df1da"
  "markdown-preview": {}
  "expand-region": {}
  linter:
    lintOnFly: false
    showErrorTabProject: false
    displayLinterInfo: false
    showErrorInline: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  term2: {}
  "vim-mode": {}
  "symbols-tree-view": {}
".js.source":
  "expand-region":
    commands: [
      {
        command: "editor:select-word"
        recursive: false
      }
      {
        command: "expand-region:select-word-include-dash"
        recursive: false
      }
      {
        command: "expand-region:select-word-include-dash-and-dot"
        recursive: false
      }
      {
        command: "expand-region:select-inside-paragraph"
        recursive: false
      }
      {
        command: "expand-region:select-inside-single-quotes"
        recursive: false
      }
      {
        command: "expand-region:select-inside-double-quotes"
        recursive: false
      }
      {
        command: "expand-region:select-inside-parentheses"
        recursive: true
      }
      {
        command: "expand-region:select-around-parentheses"
        recursive: true
      }
      {
        command: "editor:select-line"
        recursive: false
      }
    ]
