".source.js":
  Then:
    prefix: "then"
    body: '''
      then($1 => {
        $2
      })$3
    '''
  Catch:
    prefix: "catch"
    body: "catch(err => console.log(err.stack || err))"
  Promise:
    prefix: "thencatch"
    body: '''
      then(data => {
        console.log(data);
      })
      .catch(err => {
        console.log(err.stack || err)
      });
      $1
    '''
  "Log Chain":
    prefix: "logchain"
    body: "then(_ => { console.log(_); return _ })"
  "async-main":
    prefix: "amain"
    body: '''
      main()
        .catch(err => {
          devConsole.error(err);
          process.exit(1);
        });

      async function main() {

      }
    '''
  "json-schema-object":
    prefix: "jobject"
    body: '''
      type: 'object',
      properties: {
        $1
      },
      required: []
    '''
  "json-schema-array":
    prefix: "jarray"
    body: '''
      type: 'array',
      items: $1
    '''
  "json-schema-number":
    prefix: "jnumber"
    body: "type: 'number'"
  "json-schema-string":
    prefix: "jstring"
    body: "type: 'string'"
  Log:
    prefix: "log"
    body: "console.log($1)"
  DevConsole:
    prefix: "dev"
    body: "const devConsole = console;"
  "Log Inspect":
    prefix: "logman"
    body: "console.log($1) ||"
  Trace:
    prefix: "trace"
    body: "_ => console.log(_) || _"
  TracePretty:
    prefix: "tracep"
    body: "_ => console.log(JSON.stringify(_, null, 2)) || _"
  Inspect:
    prefix: "inspect"
    body: "console.log(require('util').inspect($1, { showHidden: false, depth: null }))"
  Debugga:
    prefix: "debugga"
    body: "(()=>{debugger})() || $1"
  React:
    prefix: "react"
    body: '''
      import React from 'react';
      import PropTypes from 'prop-types';

      export const $1 = () => (
        <div>
        </div>
      );

      $1.propTypes = {

      };
    '''
  "React-Class":
    prefix: "reactclass"
    body: '''
      import React from 'react';
      import PropTypes from 'prop-types';

      export class $1 extends React.Component {
        render() {
          return (
            <div>

            </div>
          );
        }
      }

      $1.propTypes = {

      };
    '''
  "React-Compose":
    prefix: "reactcompose"
    body: '''
      import React from 'react';
      import PropTypes from 'prop-types';

      import { compose } from 'recompose';

      export const enhance = compose();

      export const $1Base = () => (
        <div>
        </div>
      );

      $1.propTypes = {

      };

      export const $1 = enhance($1Base);
    '''
  "React-Intl-Import":
    prefix: "reactintl"
    body: "import { FormattedMessage } from 'react-intl';"
  "React-Intl-Message":
    prefix: "FormattedMessage"
    body: "<FormattedMessage id=\"$1\" defaultMessage=\"$2\" />"
  "import react":
    prefix: "imreact"
    body: "import React from 'react';"
  "import style.css":
    prefix: "imst"
    body: "import styles from './style.css';"
  connect:
    prefix: "connect"
    body: "connect(mapStateToProps, mapDispatchToProps)($1)"
  mapState:
    prefix: "mapState"
    body: '''
      import { connect } from 'react-redux';

      const mapStateToProps = $1;
      const mapDispatchToProps = { $2 };
    '''
  redux:
    prefix: "redux"
    body: '''
      export const $1_REQUEST = '$1_REQUEST';
      export const $1_SUCCESS = '$1_SUCCESS';
      export const $1_FAILURE = '$1_FAILURE';
    '''
  "react className":
    prefix: "cn"
    body: "className="
  "react div":
    prefix: "<div"
    body: "<div className="
  "CommonJS modern require":
    prefix: "re"
    body: "const ${1} = require('${1}');"
  "CommonJS modern require lodash":
    prefix: "relo"
    body: "const ${1} = require('lodash/${1}');"
  "CommonJS modern require lodash fp":
    prefix: "relof"
    body: "const ${1} = require('lodash/fp/${1}');"
  "CommonJS modern require asymmetrical":
    prefix: "rea"
    body: "const ${1} = require('${2}');"
  "require fs":
    prefix: "refs"
    body: "const fs = require('fs');"
  import:
    prefix: "im"
    body: "import $1 from '$1';"
  "import asymmetrical":
    prefix: "ima"
    body: "import $1 from '$2';"
  "import fs":
    prefix: "imfs"
    body: "import fs from 'fs';"
  export:
    prefix: "ex"
    body: "export const $1;"
  pify:
    prefix: "pify"
    body: "const { promisify: pify } = require('util');"
  Constructor:
    prefix: "constructor"
    body: "constructor"
  AssertEqual:
    prefix: "assert"
    body: "assert.strictEqual($1, $2, $3);"
  AssertNotUndefined:
    prefix: "defined"
    body: "assert.notStrictEqual(typeof $1, 'undefined', '$1 should be defined');"
  "Iterate map":
    prefix: "imap"
    body: "imap(_ => _.$1)"
  Angular:
    prefix: "angular"
    body: '''
      export default {
        scope: {},
        controller: ($scope) => {
          $1
        }
      };
    '''
  "Use Strict":
    prefix: "us"
    body: "'use strict';"
  "read file":
    prefix: "readfile"
    body: "const data = fs.readFileSync($1, 'utf-8');$2"
  stringify:
    prefix: "str"
    body: "JSON.stringify($1, null, 2)$2"
  "type-codegen tcomb":
    prefix: "cgtcomb"
    body: "console.log(require('type-codegen/packages/tcomb-codegen').generateCode($1))"
  "listen port":
    prefix: "listen"
    body: '''
      listen($1, err => {
        if (err) {
          throw err;
        }

        console.log('listening localhost:$1');
      });
    '''
  "exec-file":
    prefix: "execfile"
    body: '''
      const path = require('path');
      const { execFileSync } = require('child_process');

      const rootPath = path.resolve(`${__dirname}`);
      const devConsole = console;

      function run(cmd, args, opts = {}) {
        devConsole.log(`$ ${cmd} ${args.join(' ')}`);
        execFileSync(cmd, args, Object.assign({ stdio: 'inherit' }, opts));
      }
    '''
  argv:
    prefix: "argv"
    body: "const argv = require('minimist')(process.argv.slice(2), { string: '_' });"