'.source.js':
  'Log':
    'prefix': 'log'
    'body': 'console.log($1)'
  'Then':
    'prefix': 'then'
    'body': """
      then($1 => {
        $2
      })$3
    """
  'Catch':
    'prefix': 'catch'
    'body': 'catch(err => console.log(err.stack || err))'
  'Promise':
    'prefix': 'thencatch'
    'body': """
      then(data => {
        console.log(data);
      })
      .catch(err => {
        console.log(err.stack || err)
      });
      $1
    """
  'Angular':
    'prefix': 'angular'
    'body': """
      export default {
        scope: {},
        controller: ($scope) => {
          $1
        }
      };
    """
  'React':
    'prefix': 'react'
    'body': """
      import React from 'react';

      const $1 = React.createClass({
        render() {
          return (
            <div>

            </div>
          );
        }
      });

      export default $1;
    """
  'React-Tcomb':
    'prefix': 'rt'
    'body': """
      import React from 'react';

      import t from 'tcomb';
      import { propTypes } from 'tcomb-react';

      const $1 = React.createClass({
        propTypes: propTypes({

        }),
        render() {
          return (
            <div>

            </div>
          );
        }
      });

      export default $1;
    """
  'React-Redux-Tcomb':
    'prefix': 'rrt'
    'body': """
      import React from 'react';

      import { connect } from 'react-redux';

      import t from 'tcomb';
      import { propTypes } from 'tcomb-react';

      // import { schema } from '../../reducers/-reducer';
      import { reactRouterPropTypes } from '../../schema/react-router';

      // import { } from '../../actions/-actions';

      const mapStateToProps = ({ }) => ({ });
      const mapDispatchToProps = { };

      const $1 = React.createClass({
        propTypes: propTypes({
          ...reactRouterPropTypes,
          children: t.Nil
        }),
        componentDidMount() {
          // const { } = this.props;
        },
        componentWillReceiveProps(nextProps) {
          // const { } = this.props;

          // if ( !== nextProps) {
          //
          // }
        },
        render() {
          // const { } = this.props;

          return (
            <div>

            </div>
          );
        }
      });

      export default connect(mapStateToProps, mapDispatchToProps)($1);
    """
  'Debugga':
    'prefix': 'debugga'
    'body': '(()=>{debugger})() || $1'
  'Log Chain':
    'prefix': 'logchain'
    'body': 'then(_ => { console.log(_); return _ })'
  'Use Strict':
    'prefix': 'us'
    'body': '\'use strict\';'
  'CommonJS modern require':
    'prefix': 're'
    'body': 'const ${1} = require(\'${1}\');'
  'CommonJS modern require asymmetrical':
    'prefix': 'rea'
    'body': 'const ${1} = require(\'${2}\');'
  'require fs':
    'prefix': 'refs'
    'body': 'const fs = require(\'fs\');'
  'import':
    'prefix': 'im'
    'body': 'import $1 from \'$1\';'
  'import asymmetrical':
    'prefix': 'ima'
    'body': 'import $1 from \'$2\';'
  'import fs':
    'prefix': 'imfs'
    'body': 'import fs from \'fs\';'
  'import style.css':
    'prefix': 'imst'
    'body': 'import styles from \'./style.css\';'
  'read file':
    'prefix': 'readfile'
    'body': 'const data = fs.readFileSync($1, \'utf-8\');$2'
  'stringify':
    'prefix': 'str'
    'body': 'JSON.stringify($1, null, 2)$2'
  'export':
    'prefix': 'ex'
    'body': 'export const $1;'
  'connect':
    'prefix': 'connect'
    'body': 'connect(mapStateToProps, mapDispatchToProps)($1)'
  'mapState':
    'prefix': 'mapState'
    'body': """
      import { connect } from 'react-redux';

      const mapStateToProps = $1;
      const mapDispatchToProps = { $2 };
    """
  'redux':
    'prefix': 'redux'
    'body': """
      export const $1_REQUEST = '$1_REQUEST';
      export const $1_SUCCESS = '$1_SUCCESS';
      export const $1_FAILURE = '$1_FAILURE';
    """
  'react className':
    'prefix': 'cn'
    'body': 'className='
  'react div':
    'prefix': '<div'
    'body': '<div className='
  'type-codegen tcomb':
    'prefix': 'cgtcomb'
    'body': 'console.log(require(\'type-codegen/packages/tcomb-codegen\').generateCode($1))'
  'listen port':
    'prefix': 'listen'
    'body': """
      listen($1, err => {
        if (err) {
          throw err;
        }

        console.log('listening localhost:$1');
      });
    """
