'.source.js':
  'Log':
    'prefix': 'log'
    'body': 'console.log($1)'
  'Then':
    'prefix': 'then'
    'body': 'then(data => $1)'
  'Catch':
    'prefix': 'catch'
    'body': 'catch(err => console.log(err.stack || err))'
  'Promise':
    'prefix': 'thencatch'
    'body': """
      then(data => console.log(data))
      .catch(err => console.log(err.stack || err));$1
    """
  'Angular':
    'prefix': 'angular'
    'body': """
      export default {
        scope: {},
        controller: ($scope) => {
          $1
        }
      };
    """
  'React':
    'prefix': 'react'
    'body': """
      import React from 'react';

      export default React.createClass({
        render() {
          return (
            <div>
              $1
            </div>
          );
        }
      });
    """
  'Debugga':
    'prefix': 'debugga'
    'body': '(()=>{debugger})() || $1'
  'Log Chain':
    'prefix': 'logchain'
    'body': 'then(_ => { console.log(_); return _ })'
  'Use Strict':
    'prefix': 'us'
    'body': '\'use strict\';'
  'CommonJS modern require':
    'prefix': 'req'
    'body': 'const ${1:module} = require(\'${1:module}\');'
  'require fs':
    'prefix': 'reqfs'
    'body': 'const fs = require(\'fs\');'
  'import fs':
    'prefix': 'impfs'
    'body': 'import fs from \'fs\';'
  'read file':
    'prefix': 'readfile'
    'body': 'const data = fs.readFileSync($1, \'utf-8\');$2'
  'stringify':
    'prefix': 'str'
    'body': 'JSON.stringify($1, null, 2);$2'
