'.source.gfm':
  'js':
    'prefix': 'js'
    'body': """
      ```js
      $1
      ```
    """
  'sh':
    'prefix': 'sh'
    'body': """
      ```sh
      $1
      ```
    """
  'css':
    'prefix': 'css'
    'body': """
      ```css
      $1
      ```
    """
  'html':
    'prefix': 'html'
    'body': """
      ```html
      $1
      ```
    """
  'yml':
    'prefix': 'yml'
    'body': """
      ```yml
      $1
      ```
    """
  'java':
    'prefix': 'java'
    'body': """
      ```java
      $1
      ```
    """
  'xml':
    'prefix': 'xml'
    'body': """
      ```xml
      $1
      ```
    """
  'json':
    'prefix': 'json'
    'body': """
      ```json
      $1
      ```
    """
  'sql':
    'prefix': 'sql'
    'body': """
      ```sql
      $1
      ```
    """
