".source.gfm":
  js:
    prefix: "js"
    body: '''
      ```js
      $1
      ```
    '''
  ts:
    prefix: "ts"
    body: '''
      ```ts
      $1
      ```
    '''
  sh:
    prefix: "sh"
    body: '''
      ```sh
      $1
      ```
    '''
  css:
    prefix: "css"
    body: '''
      ```css
      $1
      ```
    '''
  html:
    prefix: "html"
    body: '''
      ```html
      $1
      ```
    '''
  md:
    prefix: "md"
    body: '''
      ```md
      $1
      ```
    '''
  yml:
    prefix: "yml"
    body: '''
      ```yml
      $1
      ```
    '''
  yaml:
    prefix: "yaml"
    body: '''
      ```yml
      $1
      ```
    '''
  java:
    prefix: "java"
    body: '''
      ```java
      $1
      ```
    '''
  xml:
    prefix: "xml"
    body: '''
      ```xml
      $1
      ```
    '''
  json:
    prefix: "json"
    body: '''
      ```json
      $1
      ```
    '''
  sql:
    prefix: "sql"
    body: '''
      ```sql
      $1
      ```
    '''
  graphql:
    prefix: "graphql"
    body: '''
      ```graphql
      $1
      ```
    '''
  txt:
    prefix: "txt"
    body: '''
      ```txt
      $1
      ```
    '''
  py:
    prefix: "py"
    body: '''
      ```py
      $1
      ```
    '''
  rb:
    prefix: "rb"
    body: '''
      ```rb
      $1
      ```
    '''
  apt:
    prefix: "apt"
    body: "sudo apt-get install $1"