name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable corepack
        run: corepack enable yarn

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Setup legacy belt-cli
        run: cd packages/belt-cli && npm install -g .

      - name: Run lint
        run: yarn precommit

      # - name: Run turbo
      #   run: SKIP_ENV_VALIDATION=true yarn turbo --env-mode=loose typecheck build
